// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-image: url("https://images.unsplash.com/photo-1603715749723-240c88df18b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  color: white;
  top: 0;
}

.banner {
  background: black;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

.card-category {
  background: black;
  display: flex;
  position: relative;
  border: 1px solid white;
  h5 {
    position: absolute;
    top: 0;
    left: 0;
  }
  small {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
  }
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
}

.card-category:hover {
  filter: contrast(200%);
}
.card-remove-link {
  color: white;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  position: absolute;
  left: 10px;
  top: 10px;
  opacity: 0.8;
  transform: rotate(45deg);
  font-weight: lighter;
  &:hover {
    color: white;
    text-decoration: none;
    opacity: 1;
  }
}

.show-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.grid-banner {
  height: 40vh;
  margin-bottom: 30px;
  background-repeat: no-repeat;
}

h1 {
  z-index: 1;
}

a {
  color: white;
  &:hover h5 {
    color: white;
    background: black;
  }
}

.far:hover {
  color: crimson;
}
